.report-content div.table-container {overflow: auto}
.report-content pre {margin: 0px;}
.report-content a {color: #000099; text-decoration: none; background-color: #ffffff;}
.report-content a:hover {text-decoration: underline;}
.report-content table {border-collapse: collapse; width: 100%; margin-left: auto; margin-right: auto; text-align: left; }
.report-content {text-align: center;}
.report-content th { text-align: center !important; }
.report-content td, .report-content th {font-size: 100%; vertical-align: baseline; color: #000000; border: 1px solid #000000}

.report-content h1 {font-size: 150%; color: #000000;}
.report-content h2 {font-size: 125%; color: #000000;}
.report-content td.t {color: #000000; font-size: 125%;  text-align: center; }
.report-content span.t {vertical-align: super; }
.report-content .p {text-align: left; color: #000000;}
.report-content .e {background-color: #ccccff; font-weight: bold;  color: #000000; text-align: left;
}
.report-content .fh {background-color: #9999cc; font-weight: bold; color: #000000; text-align: left; }
.report-content .fv {background-color: lavender; text-align: center; color: #000000; font-weight: bold;}
.report-content .h {background-color: #9999cc; font-weight: bold; color: #000000;}
.report-content .row-even {background-color: #EEEEFF;}
.report-content .row-odd {background-color: ghostwhite;}
.report-content .v {text-align: center}
.report-content .vl {text-align: left;}
.report-content .vr {text-align: right;}
.report-content .vb {font-weight: bold}
.report-content .v-green {color: green}
.report-content .v-red {color: red}
.report-content .v-blue {color: blue}
.report-content .v-yellow {color: orange}
.report-content img {border: 0px; float: none}
.report-content hr {width: 600px; background-color: #cccccc; border: 0px; height: 1px; color: #000000;}
